.navbar {
    height: 50px;
}

.banner {
    background: #65a854;
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: white;
}

.widget,
.post,
.message,
.thread-item {
    background: white;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
    height: 150px;
    line-height: 130px;
    text-align: center;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.post {
    height: 300px;
    line-height: 300px;
}

.message {
    height: 100px;
    line-height: 100px;
}

.thread-item {
    height: 50px;
    line-height: 35px;
}